.raindrop {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 100px solid black;
	border-radius: 50%;
	box-sizing: border-box;
	transform: scale(0);
}