.page.page2 {
  min-height: 900px;
}
.page2 .container {
  top: 50%;
  transform: translateY(-50%);
}
.page2 .features {
  font-size: 0;
}
.page2 ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.page2 .features li {
  display: inline-block;
  width: 30%;
  min-width: 220px;
  font-size: 15px;
  transition: transform ease 0.2s;
  text-align: center;
  vertical-align: top;
  touch-action: manipulation;
}
.page2 .features li a {
  color: #fff;
  text-decoration: none;
}
.page2 .features li:hover,.page2 .features li:focus, .info-slide:active {
  transform: scale(1.05);
}
.page2 .features li .feature {
  margin: 0px 20px;
}
.page2 .features li .icon {
  position: relative;
  width: 200px;
  height: 140px;
  line-height: 140px;
  margin: 0px auto;
}

.page2 .icon1 span {
  font-size: 20px;
}
.page2 .icon1 span.lang {
  border: 2px solid #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.page2 .icon1 span.js {
  border-color: #f55;
  color: #f55;
}
.page2 li p.title {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
.page2 li p.title:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #ccc;
  transform: translate(-50%);
}
.page2 li p.description {
}

.page2 .icon2 .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 6px;
  background: #fff;
  border-radius: 3px;
}
.page2 .icon2 .thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f55;
}

.page2 .icon3 svg {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page2 .icon4 .timelines {
  position: relative;
  margin: 0px auto;
  width: 170px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 0px;
}
.page2 .icon4 .timeline {
  position: relative;
  width: 100px;
  height: 8px;
  border-radius: 4px;
  background: #eee;
  margin: 6px 0px;
}
.page2 .icon4 .timeline:nth-child(1) {
  left: 40px;
  width: 80px;
}
.page2 .icon4 .timeline:nth-child(2) {
  left: 80px;
  width: 80px;
}
.page2 .icon4 .timeline:nth-child(3) {
  left: 40px;
  width: 90px;
}
.page2 .icon4 .timeline:nth-child(4) {
  left: 10px;
}
.page2 .icon4 .timeline:nth-child(5) {
  left: 50px;
}
.page2 .icon4 .timelines .play_bar {
  position: absolute;
  width: 2px;
  height: 100%;
  background: #f55;
  top: 0;
  left: 0;
}
.page2 .features li .icon.icon5 {
  line-height: 1;
  overflow: hidden;
}
.page2 .icon5 .slide {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.page2 .icon5 .sub_title {
  font-weight: bold;
}
.page2 .icon5 .sub_title, .page2 .icon5 .sub_description {
  margin: 5px;
}
.page2 .icon5 .target {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  background: #fff;
  margin: 10px auto;
}
.page2 .features li .icon.icon6 {
  line-height: 1;
}
.page2 .features li .icon.icon6 {
  text-align: center;
}
.page .icon6 .text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.page2 .icon6 p {
  margin: 8px;
}
.page2 .icon6 .card-rotor {
  position: absolute;
  width: 10px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 35px;
  height: 80px;
}
.page2 .icon6 .card {
  position: absolute;
  width: 50px;
  height: 69px;
  bottom: 0px;
  left: 50%;
  background: #f5f5f5;
  border-radius: 5px;
  transform: rotate(-35deg);
  transform-origin: 0% 100%;
}
.page2 .icon6 .bottom {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f5f5f5;
  opacity: 0.5;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
}

.page2 .more_area {
  text-align: center;
  padding-top: 30px;
}
.page2 .more_area .more {
  padding: 15px;
  border: 2px solid #f5f5f5;
  background: transparent;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}



@media screen and (max-width: 800px) {
  .page.page2 {
    min-height: 1200px;
  }
  .page2 .features li {
    width: 49%;
  }
}
@media screen and (max-width: 600px) {
  .page2 .features li {
    width: 99%;
  }
  .page.page2 {
    height: auto;
  }
  .page2 .container {
    top: 0;
    transform: none;
  }
}